.nav{
  grid-area: n;
  background-color: grey ;
  padding: 10px;
  text-align: center;
}

.item a{
color: white;
text-decoration: none;

}

.friendsBlock{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
h3, h5 {
  margin: 0 auto;
}
.settingsBlock{
  margin: 10px 0 10px 0;
}








