.app-wrapper{
  display: grid;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
  min-width: 1200px;
  margin: 0 auto;
}
.header img {
width: 50px;
}
.header{
  grid-area: h;
  background-color: blanchedalmond;
}
.nav{
  grid-area: n;
  background-color: green ;
}
.content{
  grid-area: c;
}