.dialogs{
  display: grid;
  grid-template-columns: 2fr 4fr;
  background-color: cadetblue;
}
.dialogItems{
  padding: 5px;
  text-align: center;
}
.dialogItems .active {
  color: gold;
}
.dialogItem{
  margin-bottom: 5px;
}
.dialogItem a{
  color: white;
  text-decoration: none;
}

.messages {
  color: white;
}

